<header class="top-bar">
  <div class="header-content">
    <a routerLink="/" class="logo-link">
      <img src="assets/corinthians-logo.png" alt="Logo Corinthians" class="logo" />
    </a>
    <a routerLink="/" class="site-title">Palpites Timão</a>
  </div>

  <nav class="nav-buttons">
    <button routerLink="/">Início</button>
  <button *ngIf="isAdmin" routerLink="/admin">Meu Clube</button>
    <button routerLink="/classificacao">Classificação</button>
    <button routerLink="/historico">Histórico</button>
  </nav>
</header>
