.resultado-section {
  margin: 40px auto;
  padding: 24px;
  max-width: 500px;
  background-color: #ffffffc9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.resultado-info {
  font-size: 18px;
  margin-bottom: 12px;
}

.resultado-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.resultado-input input {
  width: 60px;
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 18px;
  border-radius: 8px;
}

.resultado-input span {
  font-weight: bold;
  font-size: 18px;
}

.resultado-btn button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.resultado-btn button:hover {
  background-color: #222;
}

.resultado-msgs {
  margin-top: 16px;
  color: green;
  font-weight: bold;
}
