<app-match-info
  (jogoAtualizado)="atualizarJogo($event)"
  (adicionarPalpiteiro)="adicionarPalpiteiro($event)">
</app-match-info>

<app-palpites
  [adversario]="adversario"
  [dataHora]="dataHora"
  [local]="local"
  [palpiteiros]="palpiteiros"
  (palpitesChange)="receberPalpites($event)">
</app-palpites>

<app-resultado-final
  [palpiteiros]="palpiteiros"
  [palpites]="palpitesRef"
  (pontuacoesAtualizadas)="atualizarPontuacao($event)">
</app-resultado-final>
<app-classificacao [pontuacoes]="pontuacoes"></app-classificacao>
