<app-match-info
  (jogoAtualizado)="atualizarJogo($event)"
  (adicionarPalpiteiro)="adicionarPalpiteiro($event)">
</app-match-info>

<app-palpites
  [adversario]="adversario"
  [dataHora]="dataHora"
  [local]="local"
  [palpiteiros]="palpiteiros"
  [partidaId]="partidaId"
  (palpitesChange)="receberPalpites($event)"
></app-palpites>


<div *ngIf="partidaId" class="alert-edicao">
  <strong>Modo de Edição:</strong> Você está editando uma partida já registrada. Os palpites anteriores serão substituídos.
</div>

<app-resultado-final
  [palpiteiros]="palpiteiros"
  [palpites]="palpitesRef"
  (pontuacoesAtualizadas)="atualizarPontuacao($event)">
</app-resultado-final>
<app-classificacao [classificacao]="getClassificacao()"></app-classificacao>

