.site-footer {
  background-color: #111111b1;
  color: #ccc;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  border-top: 1px solid #333;


  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.site-footer a {
  color: #ccc;
  font-weight: bold;
  text-decoration: none;
}

.site-footer a:hover {
  color: #fff;
  text-decoration: underline;
}
