<div class="historico-container">
  <h2>Histórico de Partidas Conferidas</h2>

  <div *ngFor="let partida of partidasConferidas" class="partida">
    <strong>Corinthians x {{ partida.adversario }}</strong>
    <div><small>{{ partida.dataHora }} - {{ partida.local }}</small></div>
    <div><strong>Resultado:</strong> {{ partida.resultadoCasa }} x {{ partida.resultadoVisitante }}</div>

    <div class="palpites-bloco">
      <strong>Palpites registrados:</strong>
      <ul>
        <li *ngFor="let palpite of partida.palpites">
          <strong>{{ palpite.nome }}</strong><br>
          Torcedor: {{ palpite.torcedor.casa }} x {{ palpite.torcedor.visitante }}<br>
          Realista: {{ palpite.realista.casa }} x {{ palpite.realista.visitante }}
        </li>
      </ul>
    </div>

    <button class="botao-editar" (click)="editarPartida(partida)">Editar Palpite</button>

  </div>
</div>
