<h2>Histórico de Partidas Conferidas</h2>
<ul>
  <li *ngFor="let partida of partidasConferidas">
    <strong>{{ partida.adversario }}</strong> - {{ partida.dataHora }} - {{ partida.local }}
    <br />
    Placar: {{ partida.resultadoCasa }} x {{ partida.resultadoVisitante }}
    <br />
    Palpites:
    <ul>
      <li *ngFor="let palpite of partida.palpites">
        {{ palpite.nome }} - Torcedor: {{ palpite.torcedor.casa }} x {{ palpite.torcedor.visitante }},
        Realista: {{ palpite.realista.casa }} x {{ palpite.realista.visitante }}
      </li>
    </ul>
    <button (click)="editarPalpite(partida)">Editar Palpite</button>
  </li>
</ul>
