@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom overrides */

body {
  @apply bg-fixed bg-cover bg-center text-white;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('./assets/fundo-site.jpg');
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

button {
  @apply px-4 py-2 rounded-md bg-indigo-600 hover:bg-indigo-700 transition duration-200 ease-in-out text-white font-medium;
}
